@import "tailwindcss";

@layer base {
  :root {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #040105;
    color: #fff;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: #040105;
  }
}
